.container {
  border: solid 1px gray;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.preview {
  flex-grow: 1;
  max-width: 50%;
  padding: 1rem;
  width: 50%;
}
